.Header{
    width: 100%;
    height: 15vh;
    background-color: #252734;
    position: sticky;
    top: 0px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header-wrap{
    width: 92%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
     animation: zoomIn 5s ease-in;
    
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0.8;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.header-name-div{
    width: 20%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    font-weight: 600;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    color: white;
    align-items: center;
    justify-content: center;

    & img{
        width: 99%;
        height: 20vh;
    }
}

.header-service-div{
    width: 60%;
    height: 100%;
    /* background-color: magenta; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-service-div-inner{
    width: 60%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 350ms ease-in-out;
    transform: scale(1);

    & p:hover{
    cursor: pointer;
    color: white;
    transform: scale(1.08);
    }
}

.header-hire-me-div{
    width: 20%;
    height: 100%;
    /* background-color: maroon; */
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
}

.header-hire-me-div-inner{
    width: 70%;
    height: 52%;
    /* background-color: blue; */
    border-radius: 50px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: white;
    transition: 350ms ease-in-out;
    transform: scale(1);
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

.header-hire-me-div-inner:hover{
    background-color: #2a2c39;
    transform: scale(1.03);
    border: none;
}

.greater-than{
    font-size: 12px;
}

.Side-bar-nav-menu{
    width: 30%;
    height: 100%;
    /* background-color: yellow; */
    font-size: 30px;
    display: flex;
    justify-content: center;
    display: none;
    align-items: center;
}

@media screen and (min-width: 250px) and (max-width: 320px){

    .header-service-div{
        display: none;
    }

    .header-name-div{
        /* background-color: green; */
        width: 70%;

        & h1 {
            font-size: 18px;
        }
    }

    .header-hire-me-div{
        /* background-color: red; */
        width: 30%;
        display: flex;
        justify-content: center;
        padding-top: 40px;
        color: white;
    }

    .Header-wrap{
        /* background-color: blue; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-hire-me-div-inner{
        display: none;
    }

    .Side-bar-nav-menu{
        display: block;
        padding-bottom: 65px;
        cursor: pointer;
        /* background-color: green; */
        padding-left: 15px;
    }
}


@media screen and (min-width: 321px) and (max-width: 470px) {
    .header-service-div{
        display: none;
    }

    .header-name-div{
        /* background-color: green; */
        width: 70%;

        & h1 {
            font-size: 18px;
        }
    }

    .header-hire-me-div{
        /* background-color: red; */
        width: 30%;
        display: flex;
        justify-content: center;
        padding-top: 40px;
        color: white;
    }

    .Header-wrap{
        /* background-color: blue; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-hire-me-div-inner{
        display: none;
    }

    .Side-bar-nav-menu{
        display: block;
        padding-bottom: 65px;
        cursor: pointer;
        /* background-color: green; */
        padding-left: 45px;
    }
}


@media screen and (min-width: 471px) and (max-width: 620px) {
    .header-service-div{
        display: none;
    }

    .header-name-div{
        /* background-color: green; */
        width: 70%;

        & h1 {
            font-size: 18px;
        }
    }

    .header-hire-me-div{
        /* background-color: red; */
        width: 30%;
        display: flex;
        justify-content: center;
        padding-top: 40px;
        color: white;
    }

    .Header-wrap{
        /* background-color: blue; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-hire-me-div-inner{
        display: none;
    }

    .Side-bar-nav-menu{
        display: block;
        padding-bottom: 65px;
        cursor: pointer;
        /* background-color: green; */
        padding-left: 85px;
    }
}


@media screen and (min-width: 621px) and (max-width: 1021px) {
     .header-service-div{
        display: none;
    }

    .header-name-div{
        /* background-color: green; */
        width: 70%;

        & h1 {
            font-size: 18px;
        }
    }

    .header-hire-me-div{
        /* background-color: red; */
        width: 30%;
        display: flex;
        justify-content: center;
        padding-top: 40px;
        color: white;
    }

    .Header-wrap{
        /* background-color: blue; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-hire-me-div-inner{
        display: none;
    }

    .Side-bar-nav-menu{
        display: block;
        padding-bottom: 65px;
        cursor: pointer;
        /* background-color: green; */
        padding-left: 120px;
    }
}